body {
   font-weight: 300;
   font-family: 'Lato', sans-serif;
}

#hero {
    background-image: url("img/chairs-behind.jpg");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    padding-top: 16em;
    text-align: center;
}

#hero h1 {
    font-weight: 300;
    font-size: 6.5em;
    color: #fff;
    border: 5px solid #fff;
    display: inline;
}

#about {
    height: 600px;
    font-weight: 100;
    color: #013243;
    background-color: #ECECEC;
    padding-top: 4em;
}

#about .about-right {
  padding-top: 5em;
}

#gallery {
    height: 600px;
    background-color: #ABB7B7;
    padding-top: 1em;
}

#gallery img {
    padding-top: 1em;
}

#events {
    height: 450px;
    background-color: #ECECEC;
    padding-top: 3em;
}

#contact {
    height: 600px;
    background-color: #ABB7B7;
}
footer {
    height: 15em;
    background-color: #013243;
    color: #C5EFF7;
    padding-top: 13em;
}

    @media (min-width: 1200px) {
        nav .nav-item:hover {
            border-bottom: #013243 2px solid;
        }
     }

     @media (max-width: 1411px) {

    }


    @media (max-width: 1367px) {

    }

    @media(max-width: 1240px){

    }


    @media (max-width: 1199px) {

    }

    @media (max-width: 991px){
      #hero h1 {
          font-size: 5em;
      }

        #about {
          height: 1050px;
        }



        #gallery {
            height: 950px;
        }

        #contact{
            height: 900px;
        }



    }

    @media (max-width: 767px) {
        #hero h1 {
          font-size: 4em;
        }

        #about {
          height: 900px;
        }

        #gallery {
            height: 2300px;
        }
    }

    @media (max-width: 690px) {

    }

    @media (max-width: 647px) {


        #about {

        }

        #about img {

        }

        #gallery {

        }

    }

    @media (max-width: 610px){

    }


    @media (max-width: 583px) {

    }


     @media (max-width: 575.98px) {

    }

    @media (max-width: 551px){

    }

    @media (max-width: 477px){
      #hero h1 {
        font-size: 3em;
      }

      #about {
        height: 825px;
      }
    }


    @media (max-width: 451px) {


        #hero h1 {

        }


        #hero h3{

        }

       #contact{

       }

        #about{

        }

        #about img{

        }
         #gallery {

        }
    }

    @media (max-width: 415px) {
        #gallery {

        }

    }
